# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Only include the addons folder when downloading.
/** export-ignore
/ballistic_solutions_godot !export-ignore
/ballistic_solutions_godot/addons !export-ignore
/ballistic_solutions_godot/addons/** !export-ignore
