* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/** export-ignore
/ballistic_solutions/addons !export-ignore
/ballistic_solutions/addons/** !export-ignore